html {
  background-color:whitesmoke;
}

.background-white {
  background-color: white;
  width: 100vw;
  height: 100px;
  margin-left: -12%;

  position: absolute;

  z-index: -1;
}

.container {
  width: 80%;
  margin: auto
}

/* NAV */

.nav-bar {
  height: 100px;
  background-color: white;

  display: flex;
  justify-content: space-around; 
  align-items: center; 

}


.nav-bar .back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-bar a {
  text-decoration: none;
}

.nav-bar h1 {
  color: black;
}

.nav-bar .showAll {
  color: black;
  font-size: 18px;
  border-bottom: 2px solid white;


  transition: border-bottom 0.5s;
}

.nav-bar .showAll:hover {
  border-bottom: 2px solid black;
}


/* INPUT */


form label {

  padding-top: 5px;
  padding-right: 5px; 
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  border-radius: 8px;

  width: 230px;
  height: 50px;

  border: 1px solid rgba(0, 0, 0, 0.500);
}

.input {

  color: black;
  font-size: 12px;

  border: none;

  margin: 10px;

  background: transparent;
}

.input-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url('../image/lupa-preta.svg');
  background-repeat: no-repeat;
}


/* MAIN */

.top {
  display: flex;
  justify-content: center;
  align-items: center;
}


.arrow-top {
  background-image: url('../image/arrow-white.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  height: 40px;
  width: 50px;

  background-color: rgba(0, 0, 0, 0.200);
 

  transform: rotate(90deg);

  position: fixed;
  margin-left: 90%;
  margin-top: 80%;

  transition: background-color 0.5s;
}

.arrow-top:hover  {
  background-color: black;
}

/* h1 */

#title {
  font-size: 50px;

  padding: 15px 0 30px 0;
}



/* LETTERS */

.letters {
  display: flex;
  justify-content: space-evenly;

  flex-wrap: wrap;

}

.letters a {
  color: grey;
  font-size: 24px;
  text-decoration: none;
  font-weight: bold;

  border: 3px solid grey;
  padding: 2px 5px;
  margin-left: 5px;

  transition: color 0.5s, border-color 0.5s;
}

.letters a:hover {
  color: black;
  border-color: black;
}

/* UL LI */

#list ul {
  font-weight: bold;
  font-size: 42px;
  margin-top: 32px;
  margin-bottom: 24px;

  padding: 10px 15px;

  border: 2px solid grey;
  border-radius: 5px;
}


#list ul li{
  list-style: none;

  font-weight: lighter;
  font-size: 20px;
}