.footer {
  width: 100%;
  margin-top: 150px;

  background-color: var(--main-color);
}


.footer-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  
  display: flex;
  justify-content: space-between;
  
  padding: 50px 200px 50px 0;
}

.footer h2 a {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.footer-list h3 {
  margin-bottom: 1rem;
  
  color: white;
  font-size: 1.2rem;
  text-transform: uppercase;
}


.footer-list a {
  display: block;
  padding: 10px  10px 10px 0;
  
  color: white;
  font-size: .8rem;
  text-transform: uppercase;
  
  transition: opacity .3s;
}

.footer-list a:hover{
  opacity: .5;
}