.main-formation {
  margin: 0 auto;
  background-color: whitesmoke; 

}

/* = = = SECTION HEADER = = = */

.section-header {
  background-color: #2a7ae4;
}

.section-header-body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;

  color: #ffffff;
}

.section-header h1 {
  margin-bottom: .8rem;

  font-size: 2.2rem;
  font-weight: 800;
}

.section-header h3 {
  max-width: 60%;

  font-size: 1.1rem;
  font-weight: 400;
}

.section-header a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  
  background-color: #ffffff;
  color: var(--main-color); 
  border-radius: .2rem;
  
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;

  transition: transform .10s;
}

.section-header a:hover {
  transform: scale(0.70);
}


/* = = = SECTION CALL = = = */

.section-call {
  height: auto;

  background-color: white;
}

.section-call-body {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
  color: #4a535a;
}


.section-call h3 {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.section-call-body div {
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-left: 2px solid rgba(128, 128, 128, 0.200);
}

.section-call-body div h6 {
  margin-bottom: .5rem;
}

.section-call-body div p {
  margin: 0 2rem;
  font-weight: 400;
  font-size: .8rem;
}

/* = = = SECTION CONTENT = = = */

.section-content .content  {
  width: 80%;
  max-width: 1200px;
  margin: 5rem auto;
  padding: 3rem;
  
  background-color: white;
}

.section-content .content-title {
  display: flex;
  margin-bottom: 3rem;
  
  color: var(--color-var);
}

.section-content .content-title img { 
  width: 4rem;
  height: 4rem;
  margin-right: 2rem;

  border-bottom: 3px solid var(--color-var);
}

.section-content .content-title p {
  display: block;
  font-size: 1rem;
}

.section-content .content-title h3 {
  font-size: 1.7rem;
}

.section-content .content-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-content .content-grid a {
  font-size: .9rem;
  color: grey;
}

.section-content .content-grid p{
  font-size: .7rem;
  color: grey;
}