.main-formation {
  margin: 0 auto;
  background-color: whitesmoke; 

}

/* = = = SECTION HEADER = = = */

.section-header {
  background-color: #2a7ae4;
}

.section-header-body {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;

  color: #ffffff;
}

.section-header h1 {
  margin-bottom: .8rem;

  font-size: 2.2rem;
  font-weight: 800;
}

.section-header h3 {
  max-width: 60%;

  font-size: 1.1rem;
  font-weight: 400;
}

.section-header a {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem;
  
  background-color: #ffffff;
  color: var(--main-color); 
  border-radius: .2rem;
  
  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;

  transition: transform .100s;
}

.section-header a:hover {
  transform: translateY(3px);
}


/* = = = SECTION CALL = = = */

.section-call {
  height: auto;

  background-color: white;
}

.section-call-body {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  
  height: 100%;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  
  color: #4a535a;
}


.section-call h3 {
  margin: 0 2rem;
  font-size: 1.2rem;
}

.section-call-body div {
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-left: 2px solid rgba(128, 128, 128, 0.200);
}

.section-call-body div h6 {
  margin-bottom: .5rem;
}

.section-call-body div p {
  margin: 0 2rem;
  font-weight: 400;
  font-size: .8rem;
}

/* = = = SECTION CONTENT = = = */

.section-content .content  {
  width: 90%;
  max-width: 1200px;
  margin: 5rem auto;
  
  background-color: white;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.300);
}

  /* = = CONTENT HEADER = = */

.content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 5rem;
  margin-bottom: 3rem;
  
  color: var(--color-var);
}

.content-header .header-title {
  display: flex;
  align-items: center;
  
  margin-left: 3rem;
  margin-top: 2rem;
}

.content-header .header-title img {
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
  padding-bottom: 1rem;

  border-bottom: 3px solid var(--color-var)
}

.content-header .header-title h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.content-header .header-title p { 
  font-weight: 600;
}

.content-header .header-formation {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 10rem;
  height: 3rem;
  
  background-color: var(--color-var);
}


.content-header .header-formation p {
  font-weight: 700;

  color: white;
}

  /* = = CONTENT GRID = = */


.content-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
  padding: 3rem;
  padding-top: 1rem;
}

.content-grid a {
  font-size: .8rem;

  color: #4a535a;
}

.content-grid a:hover {
  text-decoration: underline;
}

.content-grid p{
  font-weight: 700;
  font-size: .7rem;

  color: grey;
}

.content-grid p span {
  margin-left: 5px;
  font-weight: 800;

  color: var(--color-var);
}


/* = = = SECTION SEARCH = = = */

.section-search {

  width: 90%;
  max-width: 1200px;
  height: 200px;

  position: relative;
  
  margin: 0 auto;
  margin-top: 3rem;

  background: linear-gradient(90deg, #3e8bcd 33%, #71bde7 66% );
}

.section-search::before {
  content: '';

  position: absolute;
  width: 50px;
  height: 50px;
    
  top: -10px;
  left: -10px;
  
  border-top: 10px solid #ffcd46;
  border-left: 10px solid #ffcd46;
}

.section-search::after {
  content: '';

  width: 50px;
  height: 50px;

  position: absolute;

  right: -10px;
  bottom: -10px;
  
  border-right: 10px solid #ffcd46;
  border-bottom: 10px solid #ffcd46;
}


.search-label {
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.label-text {
  color: white;
}

.label-text p:first-child {
  font-size: 1.2rem;
  font-weight: 400;

}

.label-text p:last-child {
  font-weight: 700;
  font-size: 1.2rem;

}

.label-form input {
  width: 30rem;
  height: 3.5rem;

  font-size: .9rem;
  border: none;
  border-radius: 3px 0 0 3px;
  margin-left: 1px;

  padding-left: 1.5rem;
}

.label-form input::placeholder {
  margin-left: 2rem;
  
  font-size: .9rem;
  color: #60addf;
}

.label-form button {
  height: 3.5rem;
  width: 7rem;
  
  margin-left: -2px;

  border: none;
  border-radius: 0 3px 3px 0;

  font-size: .8rem;
  font-weight: 700;
  text-transform: uppercase;

  color: #60addf;
  background-color: white;
}

.label-form button:hover {
  color: #3e8bcd;
}
