.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

/* = = = SECTION HEADER = = = */

.section-header {
  background-color: transparent;
}

.section-header::after {
  content: '';
  z-index: -1;
  position: absolute;

  width: 100%;
  height: 230px;
  top: 200px;
  left: 0;
  
  filter: opacity(.05);
  background-color: var(--main-color);
}

  /* = ICON = */

  .header-icon {
    height: 230px;

    font-weight: 600;
    color: var(--main-color);
  }

  .header-icon img {
    width: 75px;
    height: 75px;
    margin-top: 50px;
    margin-bottom: 10px;

    border-radius: 10px;
    background-color: var(--mobile-color);
  }

  .header-icon p {
    font-size: 1.2rem;
  }

  .header-icon h2 {
    line-height: 2rem;
    font-size: 2.2rem;
  }

  /* = CONTENT = */
  
  .header-content {
    margin-top: 50px;
    margin-bottom: 20px;

    color: var(--mainText-color);
  }
  
  .header-content p {
    font-size: .8rem;
    line-height: 1.5rem;
  }

  .header-content a {
    cursor: pointer;
    font-size: .8rem;
    text-decoration: underline;
  }
  
  .header-content a:hover {
    text-decoration: none;
  }

  /* = NAV = */

  .header-nav {
    width: 50%;
    margin: 20px 0;
    padding: 20px 0;

    margin-bottom: 50px;

    display: flex;
    justify-content: space-between;
  }
  
  .header-nav li strong, 
  .header-nav li a {
    padding: 15px 0;
    
    font-size: .9rem;
    color: var(--main-color);
  }
  
  .header-nav li {
    padding: 15px 5px;

    transition: all .100s ;
  }

  .header-nav li:hover {
    transform: translateY(3px);
  }

  .header-nav li:first-child {
    text-decoration: underline;
    color: var(--main-color);
  }

  .header-nav::before {
    content: '';
    position: absolute;

    left: 0;
    right: 0;
    top: 574px;
    
    height: 1px;
    opacity: .1;
    background-color: var(--main-color);
  }
  
  .header-nav::after {
    content: '';
    position: absolute;
    
    left: 0;
    right: 0;
    top: 632px;

    height: 1px;
    opacity: .1;
    background-color: var(--main-color);
  }

/* = = = SECTION CONTENT = = = */

.div-content {
  margin-bottom: 75px;
}

.section-content h3 {
  margin: 15px 0;

  color: var(--mainText-color);
  font-size: 1.2rem;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

  /* = = CONTENT ITEM = = */

  .content-item {
    height: 125px;
    
    background-color: white;
    border: 1px solid #bbc9da;
    box-shadow: 0 1px 5px #bbc9da;

    transition: all .3s;
  }

  .content-item:hover {
    box-shadow: none;
    transform: translateY(3px);
  }

  /* = ITEM TOP = */

    .item-top {
      height: 90px;
      padding: 10px;
      
      display: flex;
      align-items: center;
    }

    .item-top img {
      width: 40px;
      height: 40px;
    }

    .item-top span {
      margin-left: 10px;
      
      font-weight: 600;
      font-size: .7rem;
      color: var(--mainText-color);
    }

  /* = ITEM BOTTOM = */

    .item-bottom {
      height: 35px;
      padding: 10px;

      display: flex;
      align-items: center;

      border-top: 1px solid #bbc9da;
    }

    .item-bottom img {
      width: 20px;
      height: 20px;
    }

    .item-bottom span {
      margin-left: 10px;

      color: #bbc9da;
      font-weight: 600;
      font-size: .8rem;
    }


/* = = = SECTION ABOUT = = = */

.section-about {
  width: 66%;

  color: var(--mainText-color);
  background-color: transparent;
}

.section-about p,
.section-about strong,
.section-about a,
.section-about i {
  line-height: 2;
  font-size: .8rem;
  word-spacing: .2rem;
}

.section-about::before {
  content: '';

  position: absolute;
  z-index: -1;
  left: 0;

  width: 100%;
  height: 1020px;
  
  filter: opacity(.05);
  background-color: var(--main-color);
}

  /* = HEADER = */

  .about-header {
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 50px;

  }

  .about-header h2 {
    margin-bottom: 15px;
    
    font-size: 1.3rem;
    font-weight: normal;
  }

  .about-header h2 span {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--mobile-color);
  } 
  
  .about-header p,
  .about-header strong {
    font-size: .8rem
  }
  
  /* = LIST = */

  .about-list {
    margin-left: 20px;
  }

  .about-list li {
    margin-bottom: 20px;
  }

  .about-list a {
    color: var(--main-color);
    text-decoration: underline;
  }

  .about-list a:hover {
    opacity: .7;
  } 

  /* = FOOTER = */

  .about-footer {
    font-size: .8rem;
  }

  .about-footer p:first-child {
    padding-bottom: 20px;
  }

  .about-footer p:last-child {
    margin-bottom: 55px;
  }

/* = = = SECTION FOOTER = = = */

.section-footer {
  background-color: transparent;
  margin-top: 120px;

  position: relative;
}

.footer-top::before {
  content: '';

  position: absolute;
  top: -67px;

  height: 10px;
  width: 150px;

  background-color: var(--mobile-color);
}
  
  /* = TOP =*/

  .footer-top {
    width: 33%;

    display: flex;
    align-items: center;
  } 

  .footer-top img {
    width: 75px;
    height: 75px;
    
    border-radius: 5px;
    background-color: var(--mobile-color); 
  }
  
  .footer-top p {
    color: var(--mainText-color);
    margin-left: 15px;
  }

  .footer-top span {
    color: var(--mobile-color);
    font-weight: 700;
  }

  .footer-top p,
  .footer-top span {
    font-size: 1.2rem;
  }

  /* = BOTTOM */

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    margin-top: 50px;
  }
    
  .footer-bottom li {
    width: 33.33%;
    padding-bottom: 10px;
  }
  
  .footer-bottom a {
    padding: 5px 0;

    font-size: .9rem;
    text-decoration: underline;
    color: var(--mainText-color);
  }

  .footer-bottom a:hover {
    opacity: .7;
  }

