.header {
  width: 100%;

  background-color: #ffffff;
}


.header a {
  padding: 15px;
}


/* = = = NAV BAR = = = */

.nav-bar {
  border-bottom: 1px solid var(--main-color); 
}

.nav-bar ul {
  width: 90%;
  max-width: 1200px;
  height: 125px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-bar h1 a {
  color: black;
  font-weight: 700;
  font-size: 1.8rem;
  text-transform: none;

  transition: .3s;
}

.nav-bar h1 a:hover {
  color: var(--main-color);
}

@media (-webkit-min-device-pixel-ratio:0) {

  .nav-bar h1 a {
    background-color: black;
    background-image: -webkit-linear-gradient(left, var(--main-color) 0%, var(--main-color) 50%, transparent 50%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: transparent;
    transition: .3s;
    background-clip: text;
  }
  .nav-bar h1 a:hover {
    background-position: 0 0;
    color: transparent;
    transition: .3s;
  }
}

.nav-bar form label {
  width: 30vw;
  padding: 15px 10px;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  border: 1px solid black;
  cursor: pointer;
}

.nav-bar form label:focus-within {
  border: 2px solid var(--main-color);
} 

.nav-bar form input {
  width: 90%;

  border: none;
  font-size: .8rem;
  background-color: transparent;
}

.nav-bar form input::placeholder { 
  font-size: .8rem;
}

.nav-bar form input:focus {
  outline: none;
} 

.nav-bar form button {
  border: none;
  width: 21px;
  height: 20px;

  background-color: transparent;
  background-image: url('../image/magnifying-blue.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  cursor: pointer;
  filter: saturate(0);
}

.nav-bar form button:hover {
  filter: saturate(1);
}

.nav-bar li > a {
  color: black;
  font-weight: 600;
  font-size: .8rem;
  text-transform: uppercase;

  border-bottom: 2px solid transparent;

  position: relative;
}

.nav-bar li > a::after {
  content: '';
  height: 2px;
  width: calc(100% - 30px);

  margin: 0 15px;
  position: absolute;

  bottom: 10px;

  
  animation: reverseMoveOutCenter .5s ease-out;
  animation-iteration-count: 1;
  display: block;


}

.nav-bar li a:hover::after {
  background-color: var(--main-color);
  animation: moveOutCenter .5s ease-out;
  
}

@keyframes moveOutCenter {
    0% {
      transform: scaleX(0);
      }
    100% {
      transform: scaleX(1);
   }
 }

 @keyframes reverseMoveOutCenter {
   0% {
     transform: scaleX(1);
     background-color: var(--main-color);
   }
   100% {
     transform: scaleX(0);
   }
 }
 


/* = = = NAV FORMATION = = = */

.nav-formation ul {

  width: 90%;
  max-width: 1200px;
  height: 75px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-formation a { 
  font-weight: 600;
  font-size: .9rem;
  color: var(--color-var);
}

.nav-formation li {
  transition: transform .100s;
}

.nav-formation li:hover {
  transform: translateY(-5px);
}
