/* = = = OCEAN = = = */

#ocean{
  z-index: -1;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
    
  width: 100%;
}

.wave{
  position: absolute;
  display: inline-block;
  height: 60%;
  width: 5px;
  
  background: linear-gradient(#167cf7 10%, #61A5F9 50%);

  animation-name: dostuff; 
  animation-duration: 5s; 
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
}

@keyframes dostuff{
  0%{
    height: 60%;
  }
  50%{ 
    height: 50%;
  }
  100%{ 
    height: 60%;
  }
}

body {
  background-color: var(--main-color);
}



.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;

  background-color: #167bf6;
}

/* = = = HEADER = = = */

.nav-bar {
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;

  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h1-logo {
  color: white;
  font-size: 1.5rem;
}

.nav-bar form label {

  padding-top: 5px;
  padding-right: 5px; 
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  border-radius: 8px;

  width: 230px;
  height: 50px;

  border: 1px solid #ffffffa6;
}

.nav-bar .input {

  color: #fff;
  font-size: 12px;

  border: none;

  margin: 10px;

  background: transparent;
}

.nav-bar .input-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  background-image: url('../image/magnifying-white.svg');
  background-repeat: no-repeat;
}

.nav-bar .input-button:hover {
  opacity: .5;  
}

.link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600; 

  transition: opacity 0.2s;
}

.link:hover {
  opacity: 50%;
}

.primary-button {
  color: #167bf7;
  text-transform: uppercase;
  font-weight: 800;
  font-size: .8rem;
  border: none;

  height: 45px;
  width: 175px;

  background-color: #a3ffbf;
  border-radius: 150px;

  box-shadow: 0 5px 20px #0000005e;
}

/* = = = MAIN = = = */

.section-header {

  margin: 5rem 0 5rem;

  color: white;
}

.section-header h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 1rem ;
}

.section-header p {
  width: 35%;
  font-size: 1.2rem;
}

/* = = = CATEGORIES = = = */

.categories {
  display: grid;

  width: 840px;
  height: 446px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;

  margin-bottom: 15rem;
}


.category-wrapper {
  background-color: #fff;

  padding: 20px;

  border-top-right-radius: 20px;

  border-bottom: 5px solid black;
}

.category-icon {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.category-link {
  color: grey;
  text-decoration: none;
}

.category-link span {
  font-weight: 500;
}

.category-link h4 {
  font-weight: 800;
  text-transform: uppercase;
}

.category-linkTecnologies {
  margin-top: 10px;
}

.category-linkTecnology {
  text-decoration: none;
  font-size: 13px;
  color: #424242;
}

.category-linkTecnology:hover {
  text-decoration: underline;
}
