/* = = = CONTAINER = = = */

body {

  background-color: whitesmoke;
}

.container {  
  width: 80%;
  max-width: 1200px;
  margin: auto;
}


/* = = = MAIN = = = */

main h1 {
  margin: 2rem 0;

  font-size: 1.8rem;
}


/* = = = UL-LIST = = = */

.ul-list li {

}

.ul-list > li {
  border: 5px double #6D39ED;
}

.ul-list > li:not(:first-child)	{
  margin-top: 2rem;
} 

.ul-list li a {
  display: block;
  padding: 1.5rem;

  text-decoration: none;
  color: black;
}

.ul-list > li h3 {
  font-size: 1.2rem;
}

.ul-list p {
  line-height: 1.2;

  font-size: .8rem;
}

.ul-list > li a div {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
 }

.ul-list img {
  width: 3rem;
  height: 3rem;
  margin-right: .5rem;
 }
 
 .ul-list li ul {
  margin: 0.5rem 0;
}

.ul-list li p strong {
  font-size: .8rem;
}
