:root {
  --mainBackground-color: whitesmoke;
  --main-color: #167bf6;

  --mobile-color: #ffba05;
  --programming-color: #00c86f;
  --frontEnd-color: #6bd1ff;
  --devOps-color:  #f16165;
  --designUx-color: #dc6ebe;
  --marketingDigital-color: #6b5be2;
  --dataScience-color: #9cd33b;
  --innovatioManagement-color: #ff8c2a;
}


* {
  box-sizing: border-box;
  
  margin: 0;
  padding: 0;
  
  font-size: 18px;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: var(--mainBackground-color);
}
